.chart-legend-item{
    -fx-text-fill: blue;
}
.chart-pie-label-line {
    -fx-stroke: white;
    -fx-fill: white;
}

.chart-pie-label {
    -fx-fill: white;
}
.chart-legend {
   -fx-background-color:  white;
   -fx-stroke: white;
}
.axis-label {
  -fx-text-fill: white;
}
.chart-pie-label {-fx-fill: white;}

