.text-field{
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-color: linear-gradient(from 25% 25% to 100% 100%, #14076b,#4895f9);
    -fx-background-color: transparent;
    -fx-text-fill: black;


}
.label{
    -fx-font-family: "Segoe UI:";
    -fx-text-fill: black;
    -fx-font-weight: bold;
}
#anchor1{
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #14076b,#4895f9);
}
#loginbtn{
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #14076b,#4895f9);
    -fx-text-fill: white;
    -fx-background-radius: 15;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}
#logo{
    -fx-fill: linear-gradient(#6493d3,#1f75ea);
}
#appLabel{
    -fx-text-fill: white;
    -fx-back-color : #1f75ea;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-font-family: "sans-serif";
}
#profile{
    -fx-fill: red;
}
#hide{
    -fx-cursor: hand;
}
#show{
    -fx-cursor: hand;
}
